*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --60--mainBG: hsl(39, 77%, 63%);
    --30--lightBG: hsl(39,77%,73%);
    --5--hoverBG:hsl(39,77%,85%);
    --5-hightLightText:hsl(180, 100%, 25%);
}
html,body{
    height: 100%;
    width: 100%;
    line-height: 1.6;
}

/* Nav bar */
nav{
    height: 60px;
    background-color: var(--60--mainBG)
}

/* nav list color */
.nav__navLink{
    color:var(--5-hightLightText) ;
    font-size: 1.5em;
}
.nav__navLink-sectionLink{
    color: var(--5-hightLightText);
    font-size: 1.1em;
}

.logo{
    font-size: 1.2em;
}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.nav__navList{
    list-style: none;
    align-items: center;

}
.nav__navLink{
    font-size: 1.5em;
    text-decoration: none;
   
}
.nav__navLink-sections{
    position: relative;
 
}
.nav__navLink-sectionLinks{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--30--lightBG);
    border-left: solid black 3px;
    border-bottom: solid black 3px;
    opacity: 0;
    transition: all .2s linear;
   

}
.nav__navLink-sectionLink{
    text-decoration: none;
    margin: 20px;
    transition: all .2s linear;
    padding: 10px;
    text-align: center;
    
}

.nav__navList:hover .nav__navLink-sectionLinks{
   opacity: 1;
}
.nav__navLink-sectionLink:hover{
   background-color: var(--5--hoverBG);
}

/* purpose */

.block__purpose{
    text-align: center;
 
    padding: 20px;
    margin: 20px 50px;
}
.purpose__header{
font-size: 2.2em;
font-family: 'Roboto Slab', serif;


}